<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>POP_SWIFT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E22C5C361D1AF205003DB91D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E22C5C4A1D1AF205003DB91D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E22C5C551D1AF205003DB91D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
